
/*font*/
@font-face {
    font-family: headline;
    src: url(font/Gagalin-Regular.otf);
}
@font-face {
    font-family: basicFont;
    src: url(font/Adumu.ttf);
}
@font-face {
    font-family: message;
    src: url(font/Biro_Script_reduced.otf);
}

*{
    user-select: none;
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/******************* STARTPAGE *****************/
#startpage{
    background-image: url(img/pyramid-startpage.png);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
#headline-startpage{
    text-align: center;
    margin-top: 2em;
    font-family: headline;
    font-size: 5.5em;
    color: #fcf3cf;
    text-shadow: 2px 2px 1px #7e7551;
}

#start-button{
    cursor: pointer;
    background-color: rgba(252, 243, 207, 0.7);
    font-family: basicFont;
    color: #592a1d;
    border-radius: 2em;
    padding: 0.5em 1em;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 6em;
    text-align: center;
    font-size: 1.75em;
    letter-spacing: 0.4em;
    transition: all 0.5s ease;
}
#start-button:hover{
    transform: scale3d(1.1,1.1,1.1);
}

/* how to */
.info-element{
    width: 5em;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    margin: 1em;
}
.howTo{
    display: none;
    padding: 1em 2em;
    background-color: rgba(252, 243, 207, 0.7);
    border-radius: 1.5em;
    position: absolute;
    top: 10vh;
    right: 20vw;
    z-index: 5;
}
.questionBox{
    display: flex;
    flex-direction: row;
    margin: 1em;
}
.questionBox p{
    font-family: basicFont;
    color: #592a1d;
    margin-top: 2em;
}
.questionmark{
    width: auto;
    height: 12vh;
    margin-right: 1em;
}
.arrows{
    width: 15em;
    height: auto;
    margin-left: 2em;
}
.shift{
    width: auto;
    height: 10vh;
    margin-left: 3em;
}

/*text story*/
#storyText{
    display: none;
    background-color: rgba(252, 243, 207, 0.9);
    padding: 0.5em 1em;
    position: absolute;
    top: 10vh;
    left: 15vw;
    border: 1px solid #592a1d;
}
#storyText p{
    color: #592a1d;
    font-family: basicFont;
    text-align: center;
}
#mummy-info{
    position: absolute;
    top: 0;
    left: 0;
    width: 3.5em;
    margin: 1em;
    cursor: pointer;
}
#close{
    cursor: pointer;
}
/******************* STORYTELLING *****************/
#storyTelling{
    display: none;
    background-image: url(img/story-background-text.png);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
#scroll-closed{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30em;
    margin-top: 10em;
    cursor: pointer;
    animation: movingScroll 2.5s infinite ease;
}

/*animation for turning scroll */
@keyframes movingScroll {
    0%{transform: rotate(20deg);}
    50%{transform: rotate(-10deg);}
    100%{transform: rotate(20deg);}
}
#textScroll{
    font-family: basicFont;
    text-align: center;
    color: #ffcc99;
    text-shadow: 2px 2px 2px #592a1d;
}
#scroll-opened{
    width: 45em;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
}

/*** Fremdcode ***/
.text-container {
    text-align: center; 
    font-size: 85%;
    margin: 0 auto;
    width: 35%; 
    position: absolute;
    top: 23vh;
    left: 33vw;
    font-family: message;
    font-weight: bold;
}

.typewriter {
    overflow: hidden; 
    border-right: 2px solid #592a1d; 
    white-space: nowrap; 
    margin: 10px auto; 
    letter-spacing: .15em; 
    color: #592a1d;
    max-width: 0;  
    animation: 
      typing 3s steps(40, end) forwards,  
      blink-caret .75s step-end infinite;
    visibility: hidden; 
}

/* Animations*/
@keyframes typing {
    from { max-width: 0; visibility: visible; }  
    to { max-width: 100%; visibility: visible; } 
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #592a1d; }
}
/*************/

/* delay for every line */
.delay-1 { animation-delay: 0s; }
.delay-2 { animation-delay: 3s; }
.delay-3 { animation-delay: 6s; }
.delay-4 { animation-delay: 9s; }
.delay-5 { animation-delay: 12s; }
.delay-6 { animation-delay: 15s; }
.delay-7 { animation-delay: 18s; }
.delay-8 { animation-delay: 21s; }
.delay-9 { animation-delay: 24s; }
.delay-10 { animation-delay: 27s; }
.delay-11 { animation-delay: 30s; }
.delay-12 { animation-delay: 33s; }

#styling-line1{
    font-family: basicText;
    position: absolute;
    top: 5vh;
    left: 20vw;
    color: #592a1d;
}

#ready{
    font-family: headline;
    color: #ffcc99;
    text-shadow: 2px 2px 2px #592a1d;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 3em;
    font-size: 1.5em;
    cursor: pointer;
}
/******************* ENTRY *****************/
#entry{
    display: none;
    background-image: url(img/pyramid-entry.jpg);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
}
#enter-text{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8em;
    font-size: 3em;
    text-align: center;
    font-family: headline;
    color: #592a1d;
    text-shadow: 2px 2px 2px #ffcc99;
    cursor: pointer;
    animation: enterText 1s infinite ease;
}

/*animation for "enter" text */
@keyframes enterText {
    0%{transform: scale3d(1,1,1);}
    50%{transform: scale3d(1.1,1.1,1.1);}
    100%{transform: scale3d(1,1,1);}
}
#text-entry{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    font-family: basicFont;
    color: #592a1d;
    font-size: 1.5em;
    background-color: rgba(252, 243, 207, 0.7);
    width: 30em;
    padding: 0.5%;
    border-radius: 1.5em;
}
/*log in*/
#name-input{
    background-color: rgba(252, 243, 207, 0.7);
    padding: 2em;
    border-radius: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: basicFont;
    color: #592a1d;
    margin-top: 15em;
    width: 40vw;
    height: 17vh;
}
#profil-placeholder{
    width: 3em;
    margin-right: 1em;
}
#container-profilpicture{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 1em;
}
#container-profilpicture p{
    transition: all 0.5s ease;
    cursor: pointer;
}
#container-profilpicture p:hover{
    color: #9e8769;
}
#next{
    font-family: basicFont;
    color: #592a1d;
    cursor: pointer;
    margin-left: 25em;
    margin-top: 1em;
    font-size: 1.2em;
    text-transform: uppercase;
}
/*character choosing*/
#characterChoosing{
    background-color: rgba(252, 243, 207, 0.7);
    padding: 2em;
    border-radius: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
    width: 40vw;
    height: auto;
}
#characterBox{
    background-color: rgba(252, 243, 207, 0.7);
    padding: 1em;
    border-radius: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #592a1d;
}
#select{
    text-align: center;
    font-family: headline;
    color: #592a1d;
    cursor: pointer;
    margin-top: 1em;
    font-size: 1.5em;
    cursor: pointer;
}
#container-character{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}
.arrows-character{
    width: 7em;
    margin-top: 3em;
    cursor: pointer;
}

/******************* GAME *****************/
/* Level 1 */

#gameBody{
    background-image: url(img/dark-background.png);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    display: none;
    margin: 0;
    padding: 0;
}
#gameBoard{
    background-image: url(img/game-board-level1.png);
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 45vw;
    height: 80vh;
    margin-left: 29.6vw;
    margin-top: 11.2vh;
}
#surface{
    position: relative;
    transform-origin: top;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/*profil*/
.profil-placeholder{
    object-fit: cover;
}
#level1-profilimg{
    width: 4em;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0.5em;
    z-index: 3;
}
.username{
    color: #592a1dab;
    text-align: center;
    font-family: basicFont;
    padding: 0.5em;
    background-color: rgba(252, 243, 207, 0.7);
    position: absolute;
    top: 3vh;
    left: 6vw;
    border-radius: .5em;
}

/** PLAYER **/
#spriteImg {
    height: 20vh;
    position: relative;
}
#player {
    position: absolute;
    z-index: 5;
    width: 1.4vw; 
    height: 3.7vh; 
    overflow: hidden;
    opacity: 0; 
}

/* statistiken */
#statistiken{
    position: absolute;
    right: 5vw;
    top: 7.5vh;
    display: flex;
    flex-direction: column;
}
#statistiken div{
    margin: 0.5em;
    display: flex;
    flex-direction: row;
}
.statistiken-box{
    background-color: #dabb8d99;
    border-radius: 1em;
    width: 5em;
    height: 4vh;
}
.statistiken-box p{
    color: #592a1d;
    font-family: basicFont;
    text-align: center;
    margin-top: 0.5em;
}
.statistiken-box{
   display: flex;
   justify-content: center;
}
#coins-box{
    margin-left: 0.6em;
}
#coins-img, #sanduhr-img{
    height: 5vh;
    width: auto;
    margin-top: 0.33em;
}
#sanduhr-img{
    margin-right: 0.75em;
}


/* level anzeige */
#levelbox{
    position: absolute;
    top: 2vh;
    left: 42vw;
    display: flex;
    flex-direction: row;
}
#level{
    background-color: #9e8769;
    border-radius: 10em;
    width: 3em;
    height: 7vh;
    margin-right: 0.5em;
    box-shadow: 1px 1px 1px #210b05;
}
#level p{
    color: #592a1d;
    font-family: basicFont;
    text-align: center;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px #210b05;
    margin-top: 0.5em;
}
#levelbar-container{
    background-color: #dabb8d99;
    border-radius: 0.5em;
    width: 12em;
    height: 4vh;
    margin-top: 0.75em;
}

/*item -coin*/
#coinBox{
    position: absolute;
    width: 0.6em;
    z-index: 6;
    top: 300px;
    left: 700px;
}
#coin{
    width: 0.6em;
}
 /*text -hints*/

/*** Fremdcode ***/
#text-container-level1 {
    text-align: center; 
    font-size: 100%;
    margin: 0 auto;
    width: 55%; 
    position: absolute;
    top: 35vh;
    left: 25vw;
    font-family: message;
    font-weight: bold;
    background-color: #080200be;
    box-shadow: 2px 2px 2px #fcf3cf;
    z-index: 10;
    display: none;
    padding: 1em 2em;
}

.typewriter-lvl1 {
    overflow: hidden; 
    border-right: 2px solid #fcf3cf; 
    white-space: nowrap; 
    margin: 10px auto; 
    letter-spacing: .15em; 
    color: #fcf3cf;
    max-width: 0;  
    animation: 
      typing 5s steps(40, end) forwards,  
      blink-caret .75s step-end infinite;
    visibility: hidden; 
}

/* Animations*/
@keyframes typing {
    from { max-width: 0; visibility: visible; }  
    to { max-width: 100%; visibility: visible; } 
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: #fcf3cf; }
}
/*************/
#text-cont-close{
    font-family: basicFont;
    color: #fcf3cf;
    letter-spacing: 0.2em;
    cursor: pointer;
}
#pergament{
    width: 32vw;
    margin-top: 4.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: showPaper 2s 1 ease;
}
@keyframes showPaper {
    0%{opacity: 0;}
    100%{opacity: 1;}
}
#pergament-box{
    position: absolute;
    z-index: 10;
    display: none;
    width: 100%;
}
#pergament-close{
    z-index: 999;
    pointer-events: auto;
    display: none;
    position: absolute;
    left: 47.5vw;
    top: 90vh;
}
#pergament-close p{
    font-family: basicFont;
    color: #fcf3cf;
    text-shadow: 1px 1px 1px #592a1d;
    letter-spacing: 0.2em;
    cursor: pointer;
    text-align: center;
}

/* enemy */
#enemy {
    position: absolute;
    z-index: 5;
    width: 1.5vw; 
    height: 5vh; 
    overflow: hidden;
    opacity: 0; 
}

#enemy-skeleton{
    height: 20vh;
    position: absolute;
    top: 0;        
    left: 0;      
    width: auto;  
}

/*hint - map*/
#map-rooms{
    width: 25vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}
#rooms-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#rooms-container p{
    background-color: #fcf3cf5f;
    cursor: pointer;
    padding: 0.5em 1em;
    color: #210b05;
    box-shadow: 1px 1px 1px #fcf3cf;
    letter-spacing: 0.15em;
    font-family: message;
}
