
#random-enemy{
    position: absolute;
    z-index: 5;
    width: 2.5vw; 
    height: 5vh; 
    overflow: hidden;
    opacity: 0
}
#random-enemy-img{
    height: 20vh;
    position: absolute;
    top: 0;        
    left: 0;      
    width: auto;  
}