/************* collisions level 1 **********************/
.collider{
    background-color: transparent;
    pointer-events: none;
}
#colliderright{
    position: absolute;
    width: 26.2vw;
    height: 100vh;
    right: 0%;
    z-index: 100;
}
#colliderleft{
    position: absolute;
    width: 30.5vw;
    height: 100vh;
    left: 0%;
    z-index: 100;
}
#collidertop{
    position: absolute;
    width: 100vw;
    height: 12vh;
    top: 0%;
    z-index: 100;
}
#colliderbottom{
    position: absolute;
    width: 100vw;
    height: 10vh;
    bottom: 0%;
    z-index: 100;
}
#collider01{
    position: absolute;
    width: 15vw;
    height: 0.75vh;
    top: 34vh;
    left: 30vw;
    z-index: 100;
}
#collider03{
    position: absolute;
    width: 11vw;
    height: 0.75vh;
    top: 34vh;
    left: 55vw;
    z-index: 100;
}
#collider04{
    position: absolute;
    width: 7vw;
    height: 2vh;
    top: 33vh;
    left: 59vw;
    z-index: 100;
}
#collider05{
    position: absolute;
    width: 6vw;
    height: .75vh;
    top: 32vh;
    left: 68vw;
    z-index: 100;
}
#collider06{
    position: absolute;
    width: 1.5vw;
    height: 4.5vh;
    top: 32vh;
    left: 68vw;
    z-index: 100;
}
#collider07{
    position: absolute;
    width: 4.75vw;
    height: 17vh;
    top: 12vh;
    left: 42.5vw;
    z-index: 100;
}
#collider08{
    position: absolute;
    width: 14.8vw;
    height: 7vh;
    top: 12vh;
    left: 47vw;
    z-index: 100;
}
#collider09{
    position: absolute;
    width: 0.33vw;
    height: 10vh;
    top: 17vh;
    left: 61.5vw;
    z-index: 100;
}
#collider10{
    position: absolute;
    width: 1.5vw;
    height: 4.1vh;
    top: 19vh;
    left: 55.8vw;
    z-index: 100;
}
#collider11{
    position: absolute;
    width: 2.7vw;
    height: 2vh;
    top: 26.2vh;
    left: 59vw;
    z-index: 100;
}
#collider12{
    position: absolute;
    width: 0.33vw;
    height: 6.5vh;
    top: 34vh;
    left: 54.7vw;
    z-index: 100;
}
#collider13{
    position: absolute;
    width: 0.33vw;
    height: 6.5vh;
    top: 34vh;
    left: 51.3vw;
    z-index: 100;
}
#collider15{
    position: absolute;
    width: 3.3vw;
    height: 0.75vh;
    top: 40vh;
    left: 54.7vw;
    z-index: 100;
}
#collider16{
    position: absolute;
    width: 2.2vw;
    height: 5vh;
    top: 34.5vh;
    left: 49vw;
    z-index: 100;
}
#collider17{
    position: absolute;
    width: 0.33vw;
    height: 2vh;
    top: 38.7vh;
    left: 58.1vw;
    z-index: 100;
}
#collider18{
    position: absolute;
    width: 4.5vw;
    height: 0.75vh;
    top: 38vh;
    left: 58.2vw;
    z-index: 100;
}
#collider19{
    position: absolute;
    width: 1.65vw;
    height: 15vh;
    top: 38vh;
    left: 62.5vw;
    z-index: 100;
}
#collider20{
    position: absolute;
    width: 0.33vw;
    height: 14vh;
    top: 52.5vh;
    left: 63.7vw;
    z-index: 100;
}
#collider21{
    position: absolute;
    width: 7vw;
    height: 23vh;
    top: 52vh;
    left: 68.2vw;
    z-index: 100;
}
#collider22{
    position: absolute;
    width: 8vw;
    height: 6vh;
    top: 69vh;
    left: 61.5vw;
    z-index: 100;
}
#collider23{
    position: absolute;
    width: 2.3vw;
    height: 6.2vh;
    top: 63vh;
    left: 61.5vw;
    z-index: 100;
}
#collider24{
    position: absolute;
    width: 5vw;
    height: 2.65vh;
    top: 76vh;
    left: 58.2vw;
    z-index: 100;
}
#collider25{
    position: absolute;
    width: 0.33vw;
    height: 14vh;
    top: 78vh;
    left: 58.1vw;
    z-index: 100;
}
#collider25-transparent{
    position: absolute;
    width: 0.33vw;
    height: 12vh;
    top: 78vh;
    left: 58.1vw;
    z-index: 4;
    background-color: #bc9473;
    box-shadow: 2px 2px 2px #f6c355;
    display: none;
}
#collider26{
    position: absolute;
    width: 11.3vw;
    height: 20vh;
    top: 71.7vh;
    left: 30.4vw;
    z-index: 100;
}
#collider27{
    position: absolute;
    width: 2.4vw;
    height: 3.7vh;
    top: 68vh;
    left: 30.4vw;
    z-index: 100;
}
#collider28{
    position: absolute;
    width: 3.3vw;
    height: 2.7vh;
    top: 42vh;
    left: 30.4vw;
    z-index: 100;
}
#collider29{
    position: absolute;
    width: 3.35vw;
    height: 0.5vh;
    top: 54vh;
    left: 30.4vw;
    z-index: 100;
}
#collider30{
    position: absolute;
    width: 0.4vw;
    height: 24.2vh;
    top: 44.5vh;
    left: 39vw;
    z-index: 100;
}
#collider31{
    position: absolute;
    width: 2.4vw;
    height: 2.5vh;
    top: 52.3vh;
    left: 36.7vw;
    z-index: 100;
}
#collider32{
    position: absolute;
    width: 3.5vw;
    height: 0.5vh;
    top: 44.2vh;
    left: 35.8vw;
    z-index: 100;
}
#collider33{
    position: absolute;
    width: 2.5vw;
    height: 0.5vh;
    top: 68.2vh;
    left: 36.8vw;
    z-index: 100;
}
#collider34{
    position: absolute;
    width: 0.35vw;
    height: 4vh;
    top: 68.2vh;
    left: 36.8vw;
    z-index: 100;
}
#collider35{
    position: absolute;
    width: 0.35vw;
    height: 4vh;
    top: 34.8vh;
    left: 44.7vw;
    z-index: 100;
}
#collider36{
    position: absolute;
    width: 0.35vw;
    height: 10vh;
    top: 38.8vh;
    left: 42.4vw;
    z-index: 100;
}
#collider37{
    position: absolute;
    width: 0.35vw;
    height: 13.5vh;
    top: 53.2vh;
    left: 42.4vw;
    z-index: 100;
}
#collider38{
    position: absolute;
    width: 0.33vw;
    height: 10.8vh;
    top: 65.9vh;
    left: 46.8vw;
    z-index: 100;
}
#collider39{
    position: absolute;
    width: 0.33vw;
    height: 10.8vh;
    top: 65.9vh;
    left: 49.2vw;
    z-index: 100;
}
#collider40{
    position: absolute;
    width: 2.8vw;
    height: 0.7vh;
    top: 75.9vh;
    left: 44.5vw;
    z-index: 100;
}
#collider41{
    position: absolute;
    width: 3.5vw;
    height: 0.7vh;
    top: 75.9vh;
    left: 49.5vw;
    z-index: 100;
}
#collider42{
    position: absolute;
    width: 4.2vw;
    height: 0.7vh;
    top: 65.85vh;
    left: 42.7vw;
    z-index: 100;
}
#collider43{
    position: absolute;
    width: 9.8vw;
    height: 0.7vh;
    top: 65.85vh;
    left: 49.5vw;
    z-index: 100;
}
#collider44{
    position: absolute;
    width: 1.7vw;
    height: 7.5vh;
    top: 63.8vh;
    left: 53.5vw;
    z-index: 100;
}
#collider45{
    position: absolute;
    width: 2.3vw;
    height: 0.7vh;
    top: 48vh;
    left: 42.6vw;
    z-index: 100;
}
#collider46{
    position: absolute;
    width: 2.3vw;
    height: 2vh;
    top: 53.2vh;
    left: 42.6vw;
    z-index: 100;
}
#collider47{
    position: absolute;
    width: 2.3vw;
    height: 0.7vh;
    top: 38vh;
    left: 42.6vw;
    z-index: 100;
}
#collider48{
    position: absolute;
    width: 2.4vw;
    height: 0.7vh;
    top: 46vh;
    left: 46.8vw;
    z-index: 100;
}
#collider49{
    position: absolute;
    width: 2.4vw;
    height: 0.7vh;
    top: 52vh;
    left: 46.8vw;
    z-index: 100;
}
#collider50{
    position: absolute;
    width: 0.35vw;
    height: 6vh;
    top: 46.4vh;
    left: 49.2vw;
    z-index: 100;
}
#collider51{
    position: absolute;
    width: 5.5vw;
    height: 0.55vh;
    top: 52.3vh;
    left: 58vw;
    z-index: 100;
}
#collider52{
    position: absolute;
    width: 0.35vw;
    height: 7.5vh;
    top: 58.5vh;
    left: 59.2vw;
    z-index: 100;
}
#collider53{
    position: absolute;
    width: 3.1vw;
    height: 0.6vh;
    top: 58vh;
    left: 56.2vw;
    z-index: 100;
}
#collider54{
    position: absolute;
    width: 3.3vw;
    height: 0.6vh;
    top: 50.2vh;
    left: 55vw;
    z-index: 100;
}
#collider55{
    position: absolute;
    width: 0.33vw;
    height: 6vh;
    top: 50.2vh;
    left: 54.7vw;
    z-index: 100;
}
#collider56{
    position: absolute;
    width: 1.5vw;
    height: 0.55vh;
    top: 56vh;
    left: 54.7vw;
    z-index: 100;
}
#collider57{
    position: absolute;
    width: 0vw;
    height: 0vh;
    top: 38.2vh;
    left: 46.8vw;
    z-index: 100;
}
#collider58{
    position: absolute;
    width: 0.35vw;
    height: 2.8vh;
    top: 56vh;
    left: 56vw;
    z-index: 100;
}
#collider59{
    position: absolute;
    width: 0.35vw;
    height: 2.2vh;
    top: 50.6vh;
    left: 58vw;
    z-index: 100;
}
#collider60{
    position: absolute;
    width: 3vw;
    height: 4.5vh;
    top: 62vh;
    left: 56.2vw;
    z-index: 100;
}


/************************************/
/*        COLLIDER LEVEL 2          */
/************************************/

.collider-lvl2{
    background-color: transparent;
    position: absolute;
    z-index: 100;
    display: none;
}
#collider61{
    width: 0.33vw;
    height: 21vh;
    top: 70vh;
    left: 58.5vw;
}
#collider62{
    width: 0.33vw;
    height: 18vh;
    top: 73vh;
    left: 52.5vw;
}
#collider63{
    width: 0.33vw;
    height: 13vh;
    top: 79.5vh;
    left: 46.5vw;
}
#collider63-transparent{
    width: 0.33vw;
    height: 11vh;
    top: 79.5vh;
    left: 46.5vw;
    background-color: #bc9473;
    box-shadow: 2px 2px 2px #f6c355;
    display: none;
    position: absolute;
    z-index: 4;
}
#collider64{
    width: 7.5vw;
    height: 8vh;
    top: 82vh;
    left: 58.5vw;
}
#collider65{
    width: 5.5vw;
    height: 5vh;
    top: 79vh;
    left: 64vw;
}
#collider66{
    width: 2vw;
    height: 11vh;
    top: 62.5vh;
    left: 67.5vw;
}
#collider67{
    width: 4vw;
    height: 0.65vh;
    top: 69vh;
    left: 58.5vw;
}
#collider68{
    width: 4.75vw;
    height: 0.6vh;
    top: 73vh;
    left: 47.75vw;
}
#collider69{
    width: 6vw;
    height: 0.6vh;
    top: 79.5vh;
    left: 40.5vw;
}
#collider70{
    width: 10vw;
    height: 1vh;
    top: 83vh;
    left: 30.5vw;
}
#collider71{
    width: 8vw;
    height: 10vh;
    top: 83vh;
    left: 30.5vw;
}
#collider72{
    width: 5.5vw;
    height: 0.6vh;
    top: 77.25vh;
    left: 30.5vw;
}
#collider73{
    width: 0.33vw;
    height: 15vh;
    top: 63vh;
    left: 36vw;
}
#collider74{
    width: 0.33vw;
    height: 4vh;
    top: 79.5vh;
    left: 40.5vw;
}
#collider75{
    width: 6vw;
    height: 0.6vh;
    top: 62.5vh;
    left: 36vw;
}
#collider76{
    width: 7.5vw;
    height: 0.6vh;
    top: 41.5vh;
    left: 38.5vw;
}
#collider77{
    width: 0.33vw;
    height: 13vh;
    top: 41.5vh;
    left: 38.25vw;
}
#collider78{
    width: 3.75vw;
    height: 0.5vh;
    top: 54vh;
    left: 38.5vw;
}
#collider79{
    width: 2vw;
    height: 13vh;
    top: 45.5vh;
    left: 47.5vw;
}
#collider80{
    width: 0.33vw;
    height: 6vh;
    top: 62.5vh;
    left: 42vw;
}
#collider81{
    width: 3.5vw;
    height: 0.6vh;
    top: 69vh;
    left: 42vw;
}
#collider82{
    width: 1.6vw;
    height: 9vh;
    top: 55.5vh;
    left: 52.5vw;
}
#collider83{
    width: 6vw;
    height: 0.6vh;
    top: 64.5vh;
    left: 47.5vw;
}
#collider84{
    width: 9.5vw;
    height: 0.6vh;
    top: 56vh;
    left: 59.5vw;
}
#collider85{
    width: 0.33vw;
    height: 8vh;
    top: 48vh;
    left: 59.5vw;
}
#collider86{
    width: 0.33vw;
    height: 25vh;
    top: 31.5vh;
    left: 69vw;
}
#collider87{
    width: 8.5vw;
    height: 0.6vh;
    top: 31vh;
    left: 61vw;
}
#collider87-transparent{
    width: 8.5vw;
    height: 0.6vh;
    top: 31vh;
    left: 61vw;
    background-color: #bc9473;
    box-shadow: 2px 2px 2px #f6c355;
    display: none;
    position: absolute;
    z-index: 4;
}
#collider88{
    width: 0.33vw;
    height: 7.5vh;
    top: 24vh;
    left: 60.75vw;
}
#collider89{
    width: 7vw;
    height: 3vh;
    top: 22.5vh;
    left: 53.75vw;
}
#collider90{
    width: 1.6vw;
    height: 9vh;
    top: 22.5vh;
    left: 53.75vw;
}
#collider91{
    width: 4.75vw;
    height: 0.6vh;
    top: 47.75vh;
    left: 55vw;
}
#collider92{
    width: 0.33vw;
    height: 18.5vh;
    top: 13vh;
    left: 65.5vw;
}
#collider93{
    width: 0.33vw;
    height: 13vh;
    top: 23vh;
    left: 50.25vw;
}
#collider94{
    width: 5vw;
    height: 0.6vh;
    top: 22.5vh;
    left: 45.25vw;
}
#collider95{
    width: 3.5vw;
    height: 0.6vh;
    top: 20.5vh;
    left: 42vw;
}
#collider96{
    width: 10vw;
    height: 3.5vh;
    top: 13vh;
    left: 29vw;
}
#collider97{
    width: 2vw;
    height: 7vh;
    top: 15vh;
    left: 29.5vw;
}
#collider98{
    width: 5.5vw;
    height: 4.5vh;
    top: 27vh;
    left: 29.5vw;
}
#collider99{
    width: 0.33vw;
    height: 10.5vh;
    top: 27vh;
    left: 34.7vw;
}
#collider100{
    width: 0.33vw;
    height: 9vh;
    top: 20.5vh;
    left: 41.7vw;
}
#collider101{
    width: 5vw;
    height: 12.5vh;
    top: 34vh;
    left: 69vw;
}
#collider102{
    width: 2.5vw;
    height: 11vh;
    top: 13vh;
    left: 72vw;
}
#vase{
    width: 1.5vw;
    height: 3vh;
    top: 23.5vh;
    left: 34vw;
    position: absolute;
    z-index: 100;
    display: none;
}
#bench{
    width: 2.33vw;
    height: 1.5vh;
    top: 88vh;
    left: 39vw;
    position: absolute;
    z-index: 100;
    display: none;
}
#door-lvl2{
    width: 5vw;
    height: 1.5vh;
    top: 11.5vh;
    left: 67.5vw;
    position: absolute;
    z-index: 100;
    display: none;
}


/************************************/
/*        COLLIDER LEVEL 3          */
/************************************/
.collider-lvl3{
    background-color: transparent;
    position: absolute;
    z-index: 100;
    display: none;
}
#collider104{
    width: 5vw;
    height: 10vh;
    top: 81vh;
    left: 39.5vw;
}
#collider105{
    width: 1.5vw;
    height: 8vh;
    top: 73vh;
    left: 39.5vw;
}
#collider106{
    width: 3.75vw;
    height: 0.5vh;
    top: 73vh;
    left: 39.5vw;
}
#collider107{
    width: 0.33vw;
    height: 15vh;
    top: 58vh;
    left: 43vw;
}
#collider108{
    width: 0.33vw;
    height: 15vh;
    top: 75vh;
    left: 51.25vw;
}
#collider109{
    width: 1.5vw;
    height: 15vh;
    top: 75vh;
    left: 68vw;
}
#collider110{
    width: 28vw;
    height: 0.6vh;
    top: 75vh;
    left: 46.75vw;
}
#collider111{
    width: 1.5vw;
    height: 17vh;
    top: 58.5vh;
    left: 46.5vw;
}
#collider112{
    width: 6.5vw;
    height: 0.6vh;
    top: 81.7vh;
    left: 30vw;
}
#collider113{
    width: 5vw;
    height: 2.5vh;
    top: 66.5vh;
    left: 30vw;
}
#collider114{
    width: 0.33vw;
    height: 27vh;
    top: 40vh;
    left: 34.75vw;
}
#collider115{
    width: 4.7vw;
    height: 2.75vh;
    top: 52vh;
    left: 35vw;
}
#collider116{
    width: 4.7vw;
    height: 2.75vh;
    top: 45.5vh;
    left: 40vw;
}
#collider117{
    width: 0.33vw;
    height: 12vh;
    top: 42vh;
    left: 39.5vw;
}
#collider118{
    width: 0.33vw;
    height: 8vh;
    top: 27vh;
    left: 39.5vw;
}
#collider119{
    width: 3vw;
    height: 2.5vh;
    top: 27vh;
    left: 39.5vw;
}
#collider120{
    width: 3vw;
    height: 0.6vh;
    top: 35vh;
    left: 39.5vw;
}
#collider121{
    width: 10vw;
    height: 5.5vh;
    top: 29vh;
    left: 30vw;
}
#collider122{
    width: 0.33vw;
    height: 3vh;
    top: 26.5vh;
    left: 33.5vw;
}
#collider123{
    width: 7vw;
    height: 0.6vh;
    top: 20.25vh;
    left: 30vw;
}
#collider124{
    width: 10vw;
    height: 2.75vh;
    top: 18vh;
    left: 37vw;
}
#collider125{
    width: 0.33vw;
    height: 6vh;
    top: 12vh;
    left: 37vw;
}
#collider126{
    width: 0.33vw;
    height: 10vh;
    top: 19vh;
    left: 46.5vw;
}
#collider127{
    width: 0.3vw;
    height: 13vh;
    top: 22.5vh;
    left: 55vw;
}
#collider128{
    width: 0.35vw;
    height: 27vh;
    top: 18.5vh;
    left: 59.5vw;
}
#collider129{
    width: 15.5vw;
    height: 0.6vh;
    top: 22.5vh;
    left: 55vw;
}
#collider130{
    width: 5vw;
    height: 0.6vh;
    top: 35.5vh;
    left: 55vw;
}
#collider131{
    width: 0.33vw;
    height: 10vh;
    top: 12vh;
    left: 66.7vw;
}
#collider132{
    width: 0.33vw;
    height: 13vh;
    top: 22.5vh;
    left: 70.2vw;
}
#collider133{
    width: 0.33vw;
    height: 11vh;
    top: 37vh;
    left: 66.7vw;
}
#collider134{
    width: 0.33vw;
    height: 15vh;
    top: 43.5vh;
    left: 53.65vw;
}
#collider135{
    width: 7.5vw;
    height: 2.25vh;
    top: 56.5vh;
    left: 53.65vw;
}
#collider136{
    width: 0.33vw;
    height: 9vh;
    top: 58.5vh;
    left: 60.8vw;
}
#collider137{
    width: 8vw;
    height: 0.6vh;
    top: 66.75vh;
    left: 60.8vw;
}
#collider138{
    width: 2.8vw;
    height: 15vh;
    top: 52vh;
    left: 68vw;
}
#collider139{
    width: 3.5vw;
    height: 10.5vh;
    top: 44vh;
    left: 71vw;
}
#collider140{
    width: 3.5vw;
    height: 6vh;
    top: 43.7vh;
    left: 68.3vw;
}
#collider141{
    width: 4vw;
    height: 8vh;
    top: 82.5vh;
    left: 35.5vw;
}
#collider142{
    width: 4.5vw;
    height: 7.5vh;
    top: 44.5vh;
    left: 35vw;
}
#collider143{
    width: 3.5vw;
    height: 0.6vh;
    top: 30.8vh;
    left: 67vw;
}


/* hints lvl 3*/
.lvl3-items{
    background-color: transparent;
    display: none;
}
#scarab{
    z-index: 100;
    position: absolute;
    width: 1.5vw;
    height: 2.5vh;
    top: 79vh;
    left: 34.25vw;
    display: none;
}
#mummy{
    z-index: 100;
    position: absolute;
    width: 5vw;
    height: 2vh;
    top: 20vh;
    left: 60.5vw;
    display: none;
}
#map{
    z-index: 100;
    position: absolute;
    width: 1.7vw;
    height: 4vh;
    top: 22vh;
    left: 30.75vw;
    display: none;
}
#door-lvl3{
    z-index: 100;
    position: absolute;
    left: 73.5vw;
    top: 21vh;
    width: 0.5vw;
    height: 8vh;
    display: none;
}

/************************************/
/*        COLLIDER LEVEL 4          */
/************************************/
.collider-lvl4{
    background-color: transparent;
    position: absolute;
    z-index: 100;
    display: none;
}
#collider144{
    width: 6vw;
    height: 0.6vh;
    top: 30.8vh;
    left: 68vw;
}
#collider145{
    width: 6vw;
    height: 2.6vh;
    top: 37.5vh;
    left: 68vw;
}
#collider146{
    width: 0.33vw;
    height: 6vh;
    top: 37.5vh;
    left: 68vw;
}
#collider147{
    width: 5.5vw;
    height: 0.5vh;
    top: 43.5vh;
    left: 63vw;
}
#collider148{
    width: 1.5vw;
    height: 8vh;
    top: 23vh;
    left: 68vw;
}
#collider149{
    width: 1.5vw;
    height: 11vh;
    top: 12vh;
    left: 65.5vw;
}
#collider150{
    width: 4vw;
    height: 0.5vh;
    top: 22.5vh;
    left: 65.5vw;
}
#collider151{
    width: 0.33vw;
    height: 19vh;
    top: 12vh;
    left: 61vw;
}
#collider152{
    width: 5.3vw;
    height: 0.5vh;
    top: 31vh;
    left: 56vw;
}
#collider153{
    width: 0.33vw;
    height:3vh;
    top: 28vh;
    left: 56vw;
}
#collider154{
    width: 2.25vw;
    height:2.5vh;
    top: 27vh;
    left: 54vw;
}
#collider155{
    width: 4vw;
    height: 0.6vh;
    top: 26.7vh;
    left: 50vw;
}
#collider156{
    width: 0.33vw;
    height: 6vh;
    top: 21vh;
    left: 53.75vw;
}
#collider157{
    width: 8vw;
    height: 0.6vh;
    top: 20.5vh;
    left: 46vw;
}
#collider158{
    width: 5vw;
    height: 2.5vh;
    top: 20.5vh;
    left: 42vw;
}
#collider159{
    width: 0.33vw;
    height: 12vh;
    top: 20.5vh;
    left: 41.75vw;
}
#collider160{
    width: 0.33vw;
    height: 12vh;
    top: 13vh;
    left: 34.5vw;
}
#collider161{
    width: 4vw;
    height: 2.5vh;
    top: 22.5vh;
    left: 34.5vw;
}
#collider162{
    width: 2.5vw;
    height: 6vh;
    top: 22.5vh;
    left: 36vw;
}
#collider163{
    width: 0.33vw;
    height: 9vh;
    top: 30vh;
    left: 32.5vw;
}
#collider164{
    width: 2.5vw;
    height: 2.5vh;
    top: 28.5vh;
    left: 30vw;
}
#collider165{
    width: 3.5vw;
    height: 3vh;
    top: 37vh;
    left: 32.75vw;
}
#collider166{
    width: 0.33vw;
    height: 9vh;
    top: 39vh;
    left: 36vw;
}
#collider167{
    width: 5vw;
    height: 0.6vh;
    top: 48vh;
    left: 36vw;
}
#collider168{
    width: 1.5vw;
    height: 13vh;
    top: 48vh;
    left: 39.5vw;
}
#collider169{
    width: 0.33vw;
    height: 7vh;
    top: 42vh;
    left: 40.5vw;
}
#collider170{
    width: 3.75vw;
    height: 0.6vh;
    top: 41.5vh;
    left: 40.5vw;
}
#collider171{
    width: 5.5vw;
    height: 0.6vh;
    top: 41.5vh;
    left: 51.5vw;
}
#collider172{
    width: 14.5vw;
    height: 0.6vh;
    top: 52vh;
    left: 51.5vw;
}
#collider173{
    width: 0.33vw;
    height: 20vh;
    top: 41.5vh;
    left: 51.5vw;
}
#collider174{
    width: 0.33vw;
    height: 10.5vh;
    top: 41.5vh;
    left: 57.5vw;
}
#collider175{
    width: 1.5vw;
    height: 13.5vh;
    top: 53vh;
    left: 66.5vw;
}
#collider176{
    width: 5vw;
    height: 0.6vh;
    top: 56vh;
    left: 30vw;
}
#collider177{
    width: 0.33vw;
    height: 12vh;
    top: 58vh;
    left: 34.7vw;
}
#collider178{
    width: 6.5vw;
    height: 2.5vh;
    top: 68.75vh;
    left: 34.7vw;
}
#collider179{
    width: 7vw;
    height: 0.6vh;
    top: 77vh;
    left: 34.5vw;
}
#collider180{
    width: 0.33vw;
    height: 13vh;
    top: 77vh;
    left: 42vw;
}
#collider181{
    width: 2.5vw;
    height: 3.5vh;
    top: 77vh;
    left: 35vw;
}
#collider182{
    width: 4vw;
    height: 8.5vh;
    top: 81.5vh;
    left: 46.5vw;
}
#collider183{
    width: 5vw;
    height: 0.6vh;
    top: 81.5vh;
    left: 50vw;
}
#collider184{
    width: 1.5vw;
    height: 8.5vh;
    top: 73.5vh;
    left: 54.8vw;
}
#collider185{
    width: 0.33vw;
    height: 9vh;
    top: 66vh;
    left: 59.5vw;
}
#collider186{
    width: 8.5vw;
    height: 3.5vh;
    top: 75vh;
    left: 59.5vw;
}
#collider187{
    width: 0.33vw;
    height: 10vh;
    top: 75vh;
    left: 68vw;
}

#lake{
    width: 6.5vw;
    height: 4.5vh;
    top: 72vh;
    left: 34.7vw;
    position: absolute;
    z-index: 100;
    display: none;
}
#tatort{
    display: none;
    width: 2vw;
    height: 4vh;
    top: 40vh;
    left: 37vw;
    position: absolute;
    z-index: 100;
}

/************************************/
/*        COLLIDER LEVEL 5          */
/************************************/
.collider-lvl5{
    background-color: transparent;
    position: absolute;
    z-index: 100;
}
#collider188{
    width: 1.3vw;
    height: 12vh;
    top: 69vh;
    left: 68vw;
}
#collider189{
    width: 7vw;
    height: 0.5vh;
    top: 69vh;
    left: 68vw;
}
#collider190{
    width: 7vw;
    height: 0.5vh;
    top: 81.5vh;
    left: 68vw;
}
#collider191{
    width: 7vw;
    height: 0.6vh;
    top: 60.5vh;
    left: 68vw;
}
#collider192{
    width: 0.33vw;
    height: 11vh;
    top: 49.5vh;
    left: 68vw;
}
#collider193{
    width: 2.7vw;
    height: 0.6vh;
    top: 49.7vh;
    left: 68vw;
}
#collider194{
    width: 6vw;
    height: 4vh;
    top: 37vh;
    left: 68vw;
}
#collider195{
    width: 0.34vw;
    height: 16vh;
    top: 21vh;
    left: 68vw;
}
#collider196{
    width: 8vw;
    height: 2.7vh;
    top: 27vh;
    left: 60vw;
}
#collider197{
    width: 0.34vw;
    height: 17vh;
    top: 12vh;
    left: 59.5vw;
}
#collider198{
    width: 1.5vw;
    height: 12.5vh;
    top: 20.5vh;
    left: 52.5vw;
}
#collider199{
    width: 1.8vw;
    height: 0.6vh;
    top: 26.5vh;
    left: 54vw;
}
#collider200{
    width: 5vw;
    height: 0.6vh;
    top: 20.5vh;
    left: 47.5vw;
}
#collider201{
    width: 0.34vw;
    height: 8vh;
    top: 12vh;
    left: 46.5vw;
}
#collider202{
    width: 1.5vw;
    height: 7.5vh;
    top: 20vh;
    left: 46.5vw;
}
#collider203{
    width: 0.34vw;
    height: 11vh;
    top: 12vh;
    left: 36vw;
}
#collider204{
    width: 6vw;
    height: 2.5vh;
    top: 20.5vh;
    left: 36vw;
}
#collider205{
    width: 1.25vw;
    height: 7vh;
    top: 20.5vh;
    left: 40.5vw;
}
#collider206{
    width: 8.5vw;
    height: 2.5vh;
    top: 35vh;
    left: 30vw;
}
#collider207{
    width: 5vw;
    height: 0.7vh;
    top: 37.25vh;
    left: 38.5vw;
}
#collider208{
    width: 5.7vw;
    height: 9vh;
    top: 38.5vh;
    left: 33.5vw;
}
#collider209{
    width: 6vw;
    height: 0.6vh;
    top: 48vh;
    left: 33.5vw;
}
#collider215{
    width: 0.34vw;
    height: 8vh;
    top: 48vh;
    left: 33.5vw;
}
#collider210{
    width: 3.5vw;
    height: 0.6vh;
    top: 56.25vh;
    left: 30vw;
}
#collider211{
    width: 1.5vw;
    height: 8vh;
    top: 61vh;
    left: 36vw;
}
#collider212{
    width: 0.34vw;
    height: 12vh;
    top: 69vh;
    left: 34.75vw;
}
#collider213{
    width: 6vw;
    height: 2.5vh;
    top: 79vh;
    left: 34.75vw;
}
#gras{
    width: 5.5vw;
    height: 8vh;
    top: 82vh;
    left: 30vw;
}
#collider214{
    width: 0.34vw;
    height: 5vh;
    top: 75vh;
    left: 40.5vw;
}
#collider216{
    width: 3.7vw;
    height: 0.6vh;
    top: 75vh;
    left: 40.5vw;
}
#collider217{
    width: 0.34vw;
    height: 12vh;
    top: 63vh;
    left: 44.25vw;
}
#lake-lvl5{
    width: 4.25vw;
    height: 12vh;
    top: 64vh;
    left: 44.7vw;
    position: absolute;
    z-index: 100;
    display: none;
}
#collider218{
    width: 0.34vw;
    height: 15vh;
    top: 60vh;
    left: 49vw;
}
#collider219{
    width: 10vw;
    height: 0.6vh;
    top: 75vh;
    left: 49vw;
}
#collider220{
    width: 1.5vw;
    height: 17vh;
    top: 69vh;
    left: 59.5vw;
}
#collider221{
    width: 4vw;
    height: 0.6vh;
    top: 86vh;
    left: 59.5vw;
}
#collider222{
    width: 4vw;
    height: 0.6vh;
    top: 69vh;
    left: 55.5vw;
}
#collider223{
    width: 0.34vw;
    height: 6vh;
    top: 69vh;
    left: 55vw;
}
#collider224{
    width: 1.5vw;
    height: 6vh;
    top: 76vh;
    left: 51.5vw;
}
#collider225{
    width: 0.34vw;
    height: 12vh;
    top: 77vh;
    left: 64.3vw;
}
#collider226{
    width: 1.5vw;
    height: 15vh;
    top: 43vh;
    left: 49vw;
}
#collider227{
    width: 3.5vw;
    height: 2.5vh;
    top: 44vh;
    left: 45.5vw;
}
#collider228{
    width: 1.35vw;
    height: 10vh;
    top: 40vh;
    left: 50.25vw;
}
#collider229{
    width: 2.25vw;
    height: 2.5vh;
    top: 48vh;
    left: 50.25vw;
}
#collider230{
    width: 2.25vw;
    height: 2.5vh;
    top: 56vh;
    left: 49vw;
}
#collider231{
    width: 5vw;
    height: 0.6vh;
    top: 54vh;
    left: 44vw;
}
#collider232{
    width: 1.25vw;
    height: 5vh;
    top: 48vh;
    left: 39.5vw;
}
#collider233{
    width: 0.33vw;
    height: 14vh;
    top: 49.5vh;
    left: 63vw;
}
#collider234{
    width: 1.5vw;
    height: 9vh;
    top: 41vh;
    left: 62vw;
}
#collider235{
    width: 7vw;
    height: 2.5vh;
    top: 39.25vh;
    left: 55vw;
}
#collider236{
    width: 5.5vw;
    height: 0.6vh;
    top: 50vh;
    left: 57.25vw;
}
#collider237{
    width: 1.5vw;
    height: 8.5vh;
    top: 50vh;
    left: 57.25vw;
}
#collider238{
    width: 3.5vw;
    height: 0.6vh;
    top: 62.5vh;
    left: 59.5vw;
}
#collider240{
    display: none;
    position: absolute;
    z-index: 100;
    width: 6vw;
    height: 5vh;
    top: 45vh;
    left: 40.5vw;
    transform: rotate(35deg);
}
