/************* collisions level 1 **********************/
.collider{
    background-color: transparent;
    pointer-events: none;
}
#colliderright{
    position: absolute;
    width: 26.2vw;
    height: 100vh;
    right: 0%;
    z-index: 100;
}
#colliderleft{
    position: absolute;
    width: 30.5vw;
    height: 100vh;
    left: 0%;
    z-index: 100;
}
#collidertop{
    position: absolute;
    width: 100vw;
    height: 13vh;
    top: 0%;
    z-index: 100;
}
#colliderbottom{
    position: absolute;
    width: 100vw;
    height: 10vh;
    bottom: 0%;
    z-index: 100;
}
#collider01{
    position: absolute;
    width: 15vw;
    height: 0.75vh;
    top: 34vh;
    left: 30vw;
    z-index: 100;
}
#collider03{
    position: absolute;
    width: 11vw;
    height: 0.75vh;
    top: 34vh;
    left: 55vw;
    z-index: 100;
}
#collider04{
    position: absolute;
    width: 7vw;
    height: 2vh;
    top: 33vh;
    left: 59vw;
    z-index: 100;
}
#collider05{
    position: absolute;
    width: 6vw;
    height: .75vh;
    top: 32vh;
    left: 68vw;
    z-index: 100;
}
#collider06{
    position: absolute;
    width: 1.5vw;
    height: 4.5vh;
    top: 32vh;
    left: 68vw;
    z-index: 100;
}
#collider07{
    position: absolute;
    width: 4.75vw;
    height: 17vh;
    top: 12vh;
    left: 42.5vw;
    z-index: 100;
}
#collider08{
    position: absolute;
    width: 14.8vw;
    height: 7vh;
    top: 12vh;
    left: 47vw;
    z-index: 100;
}
#collider09{
    position: absolute;
    width: 0.33vw;
    height: 10vh;
    top: 17vh;
    left: 61.5vw;
    z-index: 100;
}
#collider10{
    position: absolute;
    width: 1.5vw;
    height: 4.1vh;
    top: 19vh;
    left: 55.8vw;
    z-index: 100;
}
#collider11{
    position: absolute;
    width: 2.7vw;
    height: 2vh;
    top: 26.2vh;
    left: 59vw;
    z-index: 100;
}
#collider12{
    position: absolute;
    width: 0.33vw;
    height: 6.5vh;
    top: 34vh;
    left: 54.7vw;
    z-index: 100;
}
#collider13{
    position: absolute;
    width: 0.33vw;
    height: 6.5vh;
    top: 34vh;
    left: 51.3vw;
    z-index: 100;
}
#collider15{
    position: absolute;
    width: 3.3vw;
    height: 0.75vh;
    top: 40vh;
    left: 54.7vw;
    z-index: 100;
}
#collider16{
    position: absolute;
    width: 2.2vw;
    height: 5vh;
    top: 34.5vh;
    left: 49vw;
    z-index: 100;
}
#collider17{
    position: absolute;
    width: 0.33vw;
    height: 2vh;
    top: 38.7vh;
    left: 58.1vw;
    z-index: 100;
}
#collider18{
    position: absolute;
    width: 4.5vw;
    height: 0.75vh;
    top: 38vh;
    left: 58.2vw;
    z-index: 100;
}
#collider19{
    position: absolute;
    width: 1.65vw;
    height: 15vh;
    top: 38vh;
    left: 62.5vw;
    z-index: 100;
}
#collider20{
    position: absolute;
    width: 0.33vw;
    height: 14vh;
    top: 52.5vh;
    left: 63.7vw;
    z-index: 100;
}
#collider21{
    position: absolute;
    width: 7vw;
    height: 23vh;
    top: 52vh;
    left: 68.2vw;
    z-index: 100;
}
#collider22{
    position: absolute;
    width: 8vw;
    height: 6vh;
    top: 69vh;
    left: 61.5vw;
    z-index: 100;
}
#collider23{
    position: absolute;
    width: 2.3vw;
    height: 6.2vh;
    top: 63vh;
    left: 61.5vw;
    z-index: 100;
}
#collider24{
    position: absolute;
    width: 5vw;
    height: 2.65vh;
    top: 76vh;
    left: 58.2vw;
    z-index: 100;
}
#collider25{
    position: absolute;
    width: 0.33vw;
    height: 14vh;
    top: 78vh;
    left: 58.1vw;
    z-index: 100;
}
#collider26{
    position: absolute;
    width: 11.3vw;
    height: 20vh;
    top: 71.7vh;
    left: 30.4vw;
    z-index: 100;
}
#collider27{
    position: absolute;
    width: 2.4vw;
    height: 3.7vh;
    top: 68vh;
    left: 30.4vw;
    z-index: 100;
}
#collider28{
    position: absolute;
    width: 3.3vw;
    height: 2.7vh;
    top: 42vh;
    left: 30.4vw;
    z-index: 100;
}
#collider29{
    position: absolute;
    width: 3.35vw;
    height: 0.5vh;
    top: 54vh;
    left: 30.4vw;
    z-index: 100;
}
#collider30{
    position: absolute;
    width: 0.4vw;
    height: 24.2vh;
    top: 44.5vh;
    left: 39vw;
    z-index: 100;
}
#collider31{
    position: absolute;
    width: 2.4vw;
    height: 2.5vh;
    top: 52.3vh;
    left: 36.7vw;
    z-index: 100;
}
#collider32{
    position: absolute;
    width: 3.5vw;
    height: 0.5vh;
    top: 44.2vh;
    left: 35.8vw;
    z-index: 100;
}
#collider33{
    position: absolute;
    width: 2.5vw;
    height: 0.5vh;
    top: 68.2vh;
    left: 36.8vw;
    z-index: 100;
}
#collider34{
    position: absolute;
    width: 0.35vw;
    height: 4vh;
    top: 68.2vh;
    left: 36.8vw;
    z-index: 100;
}
#collider35{
    position: absolute;
    width: 0.35vw;
    height: 4vh;
    top: 34.8vh;
    left: 44.7vw;
    z-index: 100;
}
#collider36{
    position: absolute;
    width: 0.35vw;
    height: 10vh;
    top: 38.8vh;
    left: 42.4vw;
    z-index: 100;
}
#collider37{
    position: absolute;
    width: 0.35vw;
    height: 13.5vh;
    top: 53.2vh;
    left: 42.4vw;
    z-index: 100;
}
#collider38{
    position: absolute;
    width: 0.33vw;
    height: 10.8vh;
    top: 65.9vh;
    left: 46.8vw;
    z-index: 100;
}
#collider39{
    position: absolute;
    width: 0.33vw;
    height: 10.8vh;
    top: 65.9vh;
    left: 49.2vw;
    z-index: 100;
}
#collider40{
    position: absolute;
    width: 2.8vw;
    height: 0.7vh;
    top: 75.9vh;
    left: 44.5vw;
    z-index: 100;
}
#collider41{
    position: absolute;
    width: 3.5vw;
    height: 0.7vh;
    top: 75.9vh;
    left: 49.5vw;
    z-index: 100;
}
#collider42{
    position: absolute;
    width: 4.2vw;
    height: 0.7vh;
    top: 65.85vh;
    left: 42.7vw;
    z-index: 100;
}
#collider43{
    position: absolute;
    width: 9.8vw;
    height: 0.7vh;
    top: 65.85vh;
    left: 49.5vw;
    z-index: 100;
}
#collider44{
    position: absolute;
    width: 1.7vw;
    height: 7.5vh;
    top: 63.8vh;
    left: 53.5vw;
    z-index: 100;
}
#collider45{
    position: absolute;
    width: 2.3vw;
    height: 0.7vh;
    top: 48vh;
    left: 42.6vw;
    z-index: 100;
}
#collider46{
    position: absolute;
    width: 2.3vw;
    height: 2vh;
    top: 53.2vh;
    left: 42.6vw;
    z-index: 100;
}
#collider47{
    position: absolute;
    width: 2.3vw;
    height: 0.7vh;
    top: 38vh;
    left: 42.6vw;
    z-index: 100;
}
#collider48{
    position: absolute;
    width: 2.4vw;
    height: 0.7vh;
    top: 46vh;
    left: 46.8vw;
    z-index: 100;
}
#collider49{
    position: absolute;
    width: 2.4vw;
    height: 0.7vh;
    top: 52vh;
    left: 46.8vw;
    z-index: 100;
}
#collider50{
    position: absolute;
    width: 0.35vw;
    height: 6vh;
    top: 46.4vh;
    left: 49.2vw;
    z-index: 100;
}
#collider51{
    position: absolute;
    width: 5.5vw;
    height: 0.55vh;
    top: 52.3vh;
    left: 58vw;
    z-index: 100;
}
#collider52{
    position: absolute;
    width: 0.35vw;
    height: 7.5vh;
    top: 58.5vh;
    left: 59.2vw;
    z-index: 100;
}
#collider53{
    position: absolute;
    width: 3.1vw;
    height: 0.6vh;
    top: 58vh;
    left: 56.2vw;
    z-index: 100;
}
#collider54{
    position: absolute;
    width: 3.3vw;
    height: 0.6vh;
    top: 50.2vh;
    left: 55vw;
    z-index: 100;
}
#collider55{
    position: absolute;
    width: 0.33vw;
    height: 6vh;
    top: 50.2vh;
    left: 54.7vw;
    z-index: 100;
}
#collider56{
    position: absolute;
    width: 1.5vw;
    height: 0.55vh;
    top: 56vh;
    left: 54.7vw;
    z-index: 100;
}
#collider57{
    position: absolute;
    width: 0vw;
    height: 0vh;
    top: 38.2vh;
    left: 46.8vw;
    z-index: 100;
}
#collider58{
    position: absolute;
    width: 0.35vw;
    height: 2.8vh;
    top: 56vh;
    left: 56vw;
    z-index: 100;
}
#collider59{
    position: absolute;
    width: 0.35vw;
    height: 2.2vh;
    top: 50.6vh;
    left: 58vw;
    z-index: 100;
}
#collider60{
    position: absolute;
    width: 3vw;
    height: 4.5vh;
    top: 62vh;
    left: 56.2vw;
    z-index: 100;
}


/************************************/
/*        COLLIDER LEVEL 2          */
/************************************/

.collider-lvl2{
    background-color: transparent;
    position: absolute;
    z-index: 100;
}
#collider61{
    width: 0.33vw;
    height: 21vh;
    top: 70vh;
    left: 58.5vw;
}
#collider62{
    width: 0.33vw;
    height: 18vh;
    top: 73vh;
    left: 52.5vw;
}
#collider63{
    width: 0.33vw;
    height: 13vh;
    top: 79.5vh;
    left: 46.5vw;
}
#collider64{
    width: 7.5vw;
    height: 8vh;
    top: 82vh;
    left: 58.5vw;
}
#collider65{
    width: 5.5vw;
    height: 5vh;
    top: 79vh;
    left: 64vw;
}
#collider66{
    width: 2vw;
    height: 11vh;
    top: 62.5vh;
    left: 67.5vw;
}
#collider67{
    width: 4vw;
    height: 0.65vh;
    top: 69vh;
    left: 58.5vw;
}
#collider68{
    width: 4.75vw;
    height: 0.6vh;
    top: 73vh;
    left: 47.75vw;
}
#collider69{
    width: 6vw;
    height: 0.6vh;
    top: 79.5vh;
    left: 40.5vw;
}
#collider70{
    width: 10vw;
    height: 1vh;
    top: 83vh;
    left: 30.5vw;
}
#collider71{
    width: 8vw;
    height: 10vh;
    top: 83vh;
    left: 30.5vw;
}
#collider72{
    width: 5.5vw;
    height: 0.6vh;
    top: 77.25vh;
    left: 30.5vw;
}
#collider73{
    width: 0.33vw;
    height: 15vh;
    top: 63vh;
    left: 36vw;
}
#collider74{
    width: 0.33vw;
    height: 4vh;
    top: 79.5vh;
    left: 40.5vw;
}
#collider75{
    width: 6vw;
    height: 0.6vh;
    top: 62.5vh;
    left: 36vw;
}
#collider76{
    width: 7.5vw;
    height: 0.6vh;
    top: 41.5vh;
    left: 38.5vw;
}
#collider77{
    width: 0.33vw;
    height: 13vh;
    top: 41.5vh;
    left: 38.25vw;
}
#collider78{
    width: 3.75vw;
    height: 0.5vh;
    top: 54vh;
    left: 38.5vw;
}
#collider79{
    width: 2vw;
    height: 13vh;
    top: 45.5vh;
    left: 47.5vw;
}
#collider80{
    width: 0.33vw;
    height: 6vh;
    top: 62.5vh;
    left: 42vw;
}
#collider81{
    width: 3.5vw;
    height: 0.6vh;
    top: 69vh;
    left: 42vw;
}
#collider82{
    width: 1.6vw;
    height: 9vh;
    top: 55.5vh;
    left: 52.5vw;
}
#collider83{
    width: 6vw;
    height: 0.6vh;
    top: 64.5vh;
    left: 47.5vw;
}
#collider84{
    width: 9.5vw;
    height: 0.6vh;
    top: 56vh;
    left: 59.5vw;
}
#collider85{
    width: 0.33vw;
    height: 8vh;
    top: 48vh;
    left: 59.5vw;
}
#collider86{
    width: 0.33vw;
    height: 25vh;
    top: 31.5vh;
    left: 69vw;
}
#collider87{
    width: 8.5vw;
    height: 0.6vh;
    top: 31vh;
    left: 61vw;
}
#collider88{
    width: 0.33vw;
    height: 7.5vh;
    top: 24vh;
    left: 60.75vw;
}
#collider89{
    width: 7vw;
    height: 3vh;
    top: 22.5vh;
    left: 53.75vw;
}
#collider90{
    width: 1.6vw;
    height: 9vh;
    top: 22.5vh;
    left: 53.75vw;
}
#collider91{
    width: 4.75vw;
    height: 0.6vh;
    top: 47.75vh;
    left: 55vw;
}
#collider92{
    width: 0.33vw;
    height: 18.5vh;
    top: 13vh;
    left: 65.5vw;
}
#collider93{
    width: 0.33vw;
    height: 13vh;
    top: 23vh;
    left: 50.25vw;
}
#collider94{
    width: 5vw;
    height: 0.6vh;
    top: 22.5vh;
    left: 45.25vw;
}
#collider95{
    width: 3.5vw;
    height: 0.6vh;
    top: 20.5vh;
    left: 42vw;
}
#collider96{
    width: 10vw;
    height: 3.5vh;
    top: 13vh;
    left: 29vw;
}
#collider97{
    width: 2vw;
    height: 7vh;
    top: 15vh;
    left: 29.5vw;
}
#collider98{
    width: 5.5vw;
    height: 4.5vh;
    top: 27vh;
    left: 29.5vw;
}
#collider99{
    width: 0.33vw;
    height: 10.5vh;
    top: 27vh;
    left: 34.7vw;
}
#collider100{
    width: 0.33vw;
    height: 9vh;
    top: 20.5vh;
    left: 41.7vw;
}
#collider101{
    width: 5vw;
    height: 12.5vh;
    top: 34vh;
    left: 69vw;
}
#collider102{
    width: 2.5vw;
    height: 11vh;
    top: 13vh;
    left: 72vw;
}
#vase{
    width: 1.5vw;
    height: 3vh;
    top: 23.5vh;
    left: 34vw;
    position: absolute;
    z-index: 100;
}
#bench{
    width: 2.33vw;
    height: 1.5vh;
    top: 88vh;
    left: 39vw;
    position: absolute;
    z-index: 100;
}